{% extends "admin/public/pub.html" %}
{% block con-header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                <span class="am-icon-user page-header-heading-icon"></span> 
                订单详情 </div>
        </div>
</div>
</div>
{% endblock %}

{% block con-body %}


<div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                        <tr>
                            <th>订单号</th>
                            <th>收货人</th>
                            <th>收货人电话</th>
                            <th>收货地址</th>
                            <th>购买的商品</th>
                            <th>商品的价格</th>
                            
                            <th>商品缩略图</th>
                            
                            




                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr class="gradeX">
                            
                           
                            

                            <!-- <td class="am-text-middle"> -->

                            
                            {% for v in info.orderinfo_set.all %}
                            <tr>
                                <td class="am-text-middle">{{info.id}}</td>
                            <td class="am-text-middle">{{info.address.aname}}</td>
                            <td class="am-text-middle">{{info.address.aphone}}</td>
                            <td class="am-text-middle">{{info.address.aads}}</td>

                            <td class="am-text-middle">{{v.gid.title}}</td>
                            <td class="am-text-middle">{{v.gid.price}}</td>
                            <td>
                                <img src="{{v.gid.pic}}" class="tpl-table-line-img" alt="">
                            </td>
                            
                            </tr>
                            {%endfor%}

                            <!-- </td> -->




                            
                            
                           
                            
                            
                        </tr>

                        
                        <!-- more data -->
                     
                    </tbody>
                </table>
            </div>
{% endblock %}