{% extends 'home/public/base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/home/public/css/cart.css">
<link rel="stylesheet" type="text/css" href="/static/home/public/css/cart-app.css">

{% endblock %}


{% block mbx %}
<div class="navbar-left">
    <ol class="breadcrumb">
        <li class="active">购物车</li>
        <li>确认订单</li>
        <li>在线支付</li>
        <li>完成 </li>
    </ol>
</div>

{% endblock %}

{% block con %}
<br><br><br><br>
<div class="mainbody cart">
        <div class="container">
            <!-- 购物车详情头 -->
            <table class="cart-header">
                <tbody>
                    <tr>
                        <td class="cart-col-select col-md-3 col-xs-3 col-sm-3">
                            <div class="cart-select-all JSelectAll">
                                <div class="mz-checkbox"></div>
                                <span class="cart-select-title">全选</span>
                            </div>
                        </td>
                        <td class="cart-col-name col-md-3 hidden-xs hidden-sm">商品</td>
                        <td class="cart-col-price col-md-2 hidden-xs hidden-sm">单价(元)</td>
                        <td class="cart-col-number col-md-2 hidden-xs hidden-sm">数量</td>
                        <td class="cart-col-total col-md-1 hidden-xs hidden-sm">小计(元)</td>
                        <td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">操作</td>
                    </tr>
                </tbody>
            </table><!-- 购物车详情头 E-->
            
            <!-- 购物清单信息列表 -->
            <div class="cart-merchant-list">
                <div class="cart-merchant">
                    <table class="cart-merchant-body">
                        <tbody>
                        {% for v in request.session.cart.values %}
                            <tr class="cart-product" id="pro5">
                                <td class="cart-col-select col-md-3 col-xs-4 col-sm-4">  
                                    <div class="mz-checkbox" gid = "{{v.id}}"></div> 
                                    <a href="meilanx.html" class="cart-product-link" target="_blank">
                                        <img src="{{ v.pic }}" class="cart-product-img" alt="魅蓝 X">
                                    </a>
                                </td>
                                <td class="cart-col-name col-md-3 col-xs-8 col-sm-8">
                                    <a href="meilanx.html" class="cart-product-link" target="_blank">
                                      <p>{{ v.title }}</p>
                                    </a>
                                    
                                </td>

                                <td class="cart-col-price col-md-2 hidden-xs hidden-sm">
                                    <p>
                                        <span class="cart-product-price">{{ v.price }}</span>
                                    </p>
                                </td>
                                <td class="cart-col-number col-md-2 hidden-xs hidden-sm">
                                    <div class="cart-product-number-adder">
                                        <p class="cart-product-number-max show"></p>
                                        <div class="mz-adder" gid = "{{v.id}}">
                                            <button class="mz-adder-subtract disabled"></button>
                                            <div class="mz-adder-num"><input class="mz-adder-input"  value="{{ v.num }}" type="text"></div>
                                            <button class="mz-adder-add"></button>
                                        </div>
                                    </div>
                                </td>
                                {% load pagetag %}
                                <td class="cart-col-total col-md-1 hidden-xs hidden-sm">
                                    <span class="cart-product-price total">{%  cheng v.num v.price  %}</span>
                                </td>
                                <td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">
                                    <div class="cart-product-remove"  gid = '{{v.id}}'>
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <!-- zieb -->
                        <script text="text/javascript">
                            $('.cart-product-remove').click(function(){
                                gid = $(this).attr('gid')
                                console.log(gid)

                                // 发送ajax
                                $.get('{% url "cartdel" %}',{gid:gid},function(data){
                                    alert(data['msg'])

                                },'json')

                            })


                            $('.mz-adder').click(function(){
                                gid = $(this).attr('gid')
                                num = $('.mz-adder-input').val()
                                console.log(gid)

                                $.get('{% url "cartedit" %}',{gid:gid,num:num},function(data){
                                    
                                },'json')

                            })


                            



                        </script>


                    </table>
                </div>
            </div><!-- 购物清单信息列表 E-->
        </div>
        <!-- 结算详情 -->
        <div class="cart-footer" id="cartFooter">
            <div class="container">
               <div class="cart-footer-left col-md-6 col-xs-4 col-sm-4">
                   <div class="cart-select-all JSelectAll" data-mdesc="全选按钮" data-mtype="store_cart_all">
                        <div class="mz-checkbox"></div>
                        <span class="cart-select-title">全选</span>
                   </div>
                   <!-- <span class="cart-remove-selected" id="removeSelected">删除选中的商品</span> -->
                   <span class="cart-footer-count">
                        共
                        <span class="cart-footer-num" id="totalCount">5</span>
                        件商品
                   </span>
                    <a href="{% url 'cartclear' %}" class="mz-btn btn-danger">清空购物车</a>
                </div>
                <div class="cart-footer-right col-md-5 col-md-offset-1 col-sm-offset-2 col-xs-8 col-sm-6">
                    <span class="cart-footer-sum">
                        <span class="cart-footer-text">已优惠</span>
                        <span class="cart-footer-num red" id="totalDiscount">0.00</span>
                        <span class="cart-footer-text" >元， 合计(不含运费)：</span>
                        <span class="cart-footer-total" id="totalPrice">0.00</span>
                    </span>
                    <div class="mz-btn success" id="cartSubmit">去结算</div>
                </div>
            </div>
        </div><!-- 结算详情 E-->
    </div>

{% endblock %}


{% block js %}
<script type="text/javascript">
    //回顶部
    backTop();
    //全选
    allSelect();
    //商品数量加减
    cartAddMin();


    //去结算
    $('#cartSubmit').click(function(){
        ids = totalPrice()
        console.log(ids)
        if(ids.length == 0){
            alert('请选择要购买的商品')
        }else{
            location.href="/order/confirm/?ids="+ids.join(',')
        }
    })


    //计算总数
    function totalPrice(){
        var total = 0
        var ids = []

        //获取已经选择的元素 checked选中的元素
        $('.cart-merchant-body .checked').each(function(){
            //p获取商品小计的价钱
            p = $(this).parents('tr').find('.total').text()
            total += Number(p)
            //ids是选中商品的id列表
            ids.push($(this).attr('gid'))
        })
        $('#totalPrice').text(total)
        return ids
    }




</script>


{% endblock %}