{% extends 'home/register.html' %}

{% block con %}
<div id="content" class="content">  
    <div class="container-fluid"> 
        <div class="banner-box hidden-xs hidden-sm">
            <div class="container">

                <form method="post" id="mainForm" class="main-form">
                    <div class="tab-title">
                        <a class="linkAGray" id="toAccountLogin" href="javascript:void(0);">账号登录</a>
                    </div>
                    <div class="tip-box visiblility-hidden">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          <span class="tip-font"></span>
                          <span aria-hidden="true" class="cha">×</span>
                        </button>
                    </div>
                    <div class="normalInput cycode-box fieldInput" id="cycode-box">
                        <div class="cycode-selectbox">
                            <input class="ipt-account inp-focus" name="username" id="account" maxlength="50" placeholder="账号" autocomplete="off">
                        </div>
                    </div>
                    <div class="normalInput fieldInput passwd-box">
                        <input class="inp-focus" name="password" id="password" maxlength="16" placeholder="密码" autocomplete="off" type="password">
                   </div>
                   <div class="normalInput cycode-box fieldInput" id="cycode-box">
                       <div class="cycode-selectbox" style="position: relative;">
                           <input class="ipt-account inp-focus" name="code" placeholder="验证码" autocomplete="off">
                            <img src="{% url 'getvcode'%}" onclick="this.src='{%url 'getvcode' %}'+'?'+Math.random()" style="position: absolute;top:10px;right:0px">
                       </div>
                   </div>
                   {% csrf_token %}
                    <button>登录</button>
                    <div class="transferField">
                        <a class="go2forgetpwd linkABlue rememberFieldForA" href="#">忘记密码?</a>
                        <a class="go2register linkABlue" href="/register" id="toRegister">注册</a>
                    </div>
                </form>

            </div>
        </div>
     

    </div>
  </div>

{% endblock %}